<h3>Product Dashboard</h3>
<div class="favourites">
  <h4>Favourite Products</h4>
  <ul>
    @for (product of favProducts; track $index) {
      <li>
        {{product.name}}
      </li>
    }
  </ul>
</div>
<div class="container">
  <app-add-product (addProductEvent)="recieveProduct($event)"></app-add-product>
  <app-display-products [addedProduct]="currProduct"
    (favProductEvent)="recieveFavProduct($event)"
    (deleteProductEvent)="deleteProduct($event)"
    (updateProductEvent)="updateProduct($event)"></app-display-products>
</div>
